---
import MainLayout from "@/layouts/MainLayout.astro";
import Article from "@/components/Article.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).toSorted((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
console.log(posts);
---

<MainLayout title="Blog">
	<div class="max-w-content-size mx-auto w-full">
		<section class="mt-6 w-full">
			<ul class="space-y-8">
				{posts.map((post) => <Article {...post.data} slug={post.slug} />)}
			</ul>
		</section>
	</div>
</MainLayout>
